<header class="navbar fixed-top navbar-expand-lg">
  <span class="justify">
      <a class="navbar-brand pull-left" href="#" (click)="navbarCollapsed = true">
          <img src="assets/images/TERN_logo.png" height="48" class="align-top brand-image-nudge">
        </a>
      
        <span class="navbar-brand">Landscape Observatory</span>
      
        <a class="navbar-brand pull-right">
            <img src="assets/images/2x_anu_logo_small_black.png" height="40" class="align-top">
        </a>
  </span>

  <button class="navbar-toggler navbar-toggler-right" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed" [attr.aria-expanded]="!navbarCollapsed"
    aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
<span class="fa fa-bars"></span>
</button>

<!--
  <div class="navbar-collapse" [ngbCollapse]="isNavbarCollapsed" id="navbarItems">
    <theme-navbar [catalog]="catalog" (layerSelected)="layerSelected($event)"></theme-navbar>
  </div>
-->

</header>
<div class="container-fluid">
  <div class="row main-row no-gutters">
    <div class="col-3 sidebar">
      <ngb-accordion [activeIds]="openPanels">

        <ngb-panel title="Catalog" class="catalog" id="catalog">
          <ng-template ngbPanelContent>
            <catalog [catalog]="catalog" (layerSelected)="layerSelected($event)"></catalog>
          </ng-template>
        </ngb-panel>

        <ngb-panel title="Layers" id="layers">
          <ng-template ngbPanelContent>
            <div>
              <layer-control #layerControl [(layers)]="layers"
                             [map]="map"></layer-control>
            </div>
          </ng-template>
        </ngb-panel>

      </ngb-accordion>
    </div>
    <div class="col-9 main-map">
      <layered-map #map [(layers)]="layers"></layered-map>
    </div>
  </div>
</div>