<header class="navbar fixed-top navbar-expand-lg">
  <span class="justify">
      <a class="navbar-brand pull-left"
         href="#"
         (click)="navbarCollapsed = true">
        <img src="assets/images/TERN_logo.png" height="48" class="align-top brand-image-nudge">
      </a>
      
        <span class="navbar-brand">
          Landscape Visualiser
          <span class="badge badge-warning">
            <a href="mailto:http://mailto:albert.vandijk@anu.edu.au?subject=[Feedback from Landscape Visualiser]">
              BETA
              <i class="fa fa-flask"></i>
            </a>
          </span>
        </span>

  <a class="navbar-brand pull-right"
     href="https://www.anu.edu.au">
    <img src="assets/images/logo_ANU.png" height="40" class="align-top">
  </a>
  </span>

  <button class="navbar-toggler navbar-toggler-right" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed" [attr.aria-expanded]="!navbarCollapsed"
    aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
<span class="fa fa-bars"></span>
</button>

  <!--
  <div class="navbar-collapse" [ngbCollapse]="isNavbarCollapsed" id="navbarItems">
    <theme-navbar [catalog]="catalog" (layerSelected)="layerSelected($event)"></theme-navbar>
  </div>
-->

</header>
<div class="container-fluid">
  <div class="row main-row no-gutters">
    <div class="col-3 sidebar">
      <ngb-accordion [activeIds]="openPanels"
                     (panelChange)="panelToggle($event)">

        <ngb-panel class="catalog" id="catalog">
          <ng-template ngbPanelTitle>
            <span>
              <i class="fa" 
                 [ngClass]="panels.catalog?'fa-chevron-down':'fa-chevron-up'"></i>
            </span>&nbsp;
            <span>Catalog</span>
          </ng-template>
          <ng-template ngbPanelContent>
            <catalog [catalog]="catalog" (layerSelected)="layerSelected($event)"></catalog>
          </ng-template>
        </ngb-panel>

        <ngb-panel id="layers">
          <ng-template ngbPanelTitle>
            <span>
              <i class="fa" 
                [ngClass]="panels.layers?'fa-chevron-down':'fa-chevron-up'"></i>
            </span>&nbsp;
            <span>Layers shown</span>
          </ng-template>
          <ng-template ngbPanelContent>
            <div>
              <layer-control #layerControl [(layers)]="layers" [map]="map"></layer-control>
            </div>
          </ng-template>
        </ngb-panel>

      </ngb-accordion>
    </div>
    <div class="col-9 main-map">
      <layered-map #map
                   [(layers)]="layers"
                   (layersChange)="layersChanged()"
                   (featureSelected)="featureSelected($event)"
                   (pointSelected)="pointSelected($event)">
        <button-bar class="map-control left-top">
          <zoom-in [map]="map" [maxZoom]="10"></zoom-in>
          <zoom-out [map]="map" [minZoom]="3"></zoom-out>
          <zoom-full [map]="map" [bounds]="fullExtent"></zoom-full>
          <zoom-layer [map]="map" [layer]="topLayer" [fullBounds]="fullExtent"></zoom-layer>
          <location-search></location-search>
          <share-view></share-view>
        </button-bar>
        <div *ngIf="showSelection" class="map-control right-bottom">
          <collapsible-map-control [heading]="'Site data'">
            <ng-container [ngSwitch]="detailsMode">
              <feature-table *ngSwitchCase="'feature'"
                             [feature]="selectedFeature">

              </feature-table>
              <div *ngSwitchCase="'chart'">
                <timeseries-chart [timeSeries]="timeSeries"></timeseries-chart>
              </div>
            </ng-container>
          </collapsible-map-control>
        </div>

        <div class="map-control right-top">
          <a href="mailto:http://mailto:albert.vandijk@anu.edu.au?subject=[Feedback from Landscape Visualiser]"
             class="btn btn-primary">
            <img class="img-fluid"
                 style="max-height: 60px;"
                 src="assets/images/feedback_new.png">
          </a>
        </div>
      </layered-map>
    </div>
  </div>
</div>