$tern-orange:rgb(171,108,0);

.brand-image-nudge{
  margin-top:-5px;
}

.collapse.show ul{
  background: white;
}

.main-map {
  bottom: 0px;
  width: 100%;
}

.justify{

  width:100%;
  text-align: center;
  font-weight:normal;
  color:$tern-orange;
  .navbar-brand{
    font-size:1.75em;
  }
}

.navbar{
  background-image:url(../assets/images/header.png);
}