<header class="navbar fixed-top navbar-expand-lg">

  <a class="navbar-brand" href="#" (click)="navbarCollapsed = true">
    <img src="assets/images/TERN_logo.png" height="48" class="align-top brand-image-nudge">
    AusCover Visualiser
  </a>

  <button class="navbar-toggler navbar-toggler-right"
  type="button"
  (click)="isNavbarCollapsed = !isNavbarCollapsed"
  [attr.aria-expanded]="!navbarCollapsed"
  aria-controls="navbarContent"
  aria-expanded="false"
  aria-label="Toggle navigation">
<span class="fa fa-bars"></span>
</button>

  <div class="navbar-collapse" [ngbCollapse]="isNavbarCollapsed" id="navbarItems">
      <theme-navbar [catalog]="catalog"
                    (layerSelected)="layerSelected($event)"></theme-navbar>
  </div>
</header>
<div class="container-fluid">
<div class="row">
  <div class="main-map">
    <layered-map></layered-map>
  </div>
</div>

</div>
