$fa-font-path: "../node_modules/font-awesome/fonts";
/* You can add global styles to this file, and also import other style files */


$tern-eucalypt:rgb(97,106,52);
$tern-orange:rgb(171,108,0);
$tern-green:rgb(85,111,0);
$tern-eucalypt-light:rgb(211,217,203);//lighten($tern-eucalypt,25%);
$tern-orange-light:lighten($tern-orange,25%);

$header-height:130px;
$border-thickness:15px;
$big-border: $border-thickness solid $tern-eucalypt;

$white:  #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:  #000 !default;

$grays: (
  100: $gray-100,
  200: $gray-200,
  300: $gray-300,
  400: $gray-400,
  500: $gray-500,
  600: $gray-600,
  700: $gray-700,
  800: $gray-800,
  900: $gray-900
) !default;

$blue:    #007bff !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #dc3545 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #28a745 !default;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;

$colors: (
  blue: $blue,
  indigo: $indigo,
  purple: $purple,
  pink: $pink,
  red: $red,
  orange: $orange,
  yellow: $yellow,
  green: $green,
  teal: $teal,
  cyan: $cyan,
  white: $white,
  gray: $gray-600,
  gray-dark: $gray-800
) !default;

$theme-colors: (
  primary: $tern-orange,
  secondary: $tern-eucalypt,
  success: $green,
  info: $cyan,
  warning: $yellow,
  danger: $red,
  light: $gray-100,
  dark: $gray-800
);

$font-family-sans-serif: 'Montserrat', -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$font-family-base:       $font-family-sans-serif;

@import "../node_modules/font-awesome/scss/font-awesome.scss";
@import '../node_modules/bootstrap/scss/bootstrap';
@import '../node_modules/map-wald/map-wald.scss';
@import url('https://fonts.googleapis.com/css?family=Montserrat');

.gm-style{
  font-family: $font-family-sans-serif !important;
}

.header-row {
  width:100%;
  position: fixed;
  top:0px;
  left:0px;
  right:0px;
  height:$header-height;
}

.main-row{
  width:100%;
  position: fixed;
  top:$header-height;
  left:0px;
  right:0px;
  bottom:0px;
}

.main-map{
  position:relative;
  left:0px;
  top:0px; /* $navbar-height */
  width:100%;
  height:auto;
}

.sidebar{
  overflow-y: auto;
  .card-body{
    padding-left:0;
    padding-right:0;

    .layers-control{
      width:100%;
    }
  }
}

.sebm-google-map-container{
  width:100%;
  height:100%;
}

/*
@media screen and (min-width:($screen-xs-max+1)) {
 */

@include media-breakpoint-up(sm) {
  .main-map {
    width:100%;
    height:auto;
  }
}


.footer {
  position: fixed;
  bottom: 0px;
  left:0px;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 50px;
  line-height: 50px; /* Vertically center the text there */
  background-color:$tern-orange;

  .container-fluid{
    padding-left:0px;
    padding-right:0px;
  }
}

.hoverlayer{
    text{
        fill: #000 !important;
    }
}

.greyed {
  color: gray;
}

.active-layer {
  font-weight: bold;
}

.active-child {
  font-weight: bold;
}

.ldv-title {
  color:$tern-eucalypt;

  margin-top:0px;
  margin-bottom:0px;
  // padding-left:15px;
  padding-right:10px;
  h1 {
    display:inline;
    padding-left:6px;
    margin-bottom:0rem;
  }

  img{
    vertical-align: top;
    height:48px;
  }
}

.tern-gradient-bar, .sidebar .card-header{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#616a34+1,616a34+74,e5e5e5+100 */
  background: $tern-eucalypt-light; /* Old browsers */
  background: -moz-linear-gradient(left, $tern-eucalypt-light 1%, $tern-eucalypt-light 64%, $gray-100 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, $tern-eucalypt-light 1%, $tern-eucalypt-light 64%, $gray-100 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, $tern-eucalypt-light 1%, $tern-eucalypt-light 64%, $gray-100 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#616a34', endColorstr='#e5e5e5',GradientType=1 ); /* IE6-9 */
}

.sidebar .card-header{
  padding-left:10px;

  .btn-link{
    color: $tern-eucalypt;
    font-size: 1.8rem;
    line-height:1.2rem;

    i.fa{
      position: absolute;
      right:5%;
    }
  }
}

.main-row .sidebar {
  background: $tern-eucalypt;
}

.sidebar .card {
  margin-left: $border-thickness;
  margin-right: $border-thickness;
  margin-bottom: $border-thickness;
  border-radius: 0px;
}


.tern-logo{
  img{
    padding-top:15px;
  }
}
.anu-logo{
  img{
    padding:10px;
    max-height:100px;
  }
}

.ncris-logo{
  img{
    padding-right:5px;
    padding-top:5px;
    max-height:90px;
  }
}

.sidebar.logos {
  border: $big-border;
  overflow: hidden;
}

.main-map {
  border-bottom: $big-border;
}

.app-title {
  background: url(assets/images/bannerbg.jpg) no-repeat center center;
  background-size:cover;
  color: $white;
  div{
    display:table;
    height:100%;
    width:100%;
    h1 {
      font-size:4rem;
      display: table-cell;
      vertical-align: middle;
    }
  }
}